// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as GroundX from "../../../index.js";

export declare namespace ApiKeyClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ApiKeyClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ApiKeyClient.Options>;

    constructor(options: ApiKeyClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List all API keys within your GroundX account
     *
     * @param {ApiKeyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.apiKey.list()
     */
    public list(requestOptions?: ApiKeyClient.RequestOptions): core.HttpResponsePromise<GroundX.ApiKeyResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(
        requestOptions?: ApiKeyClient.RequestOptions,
    ): Promise<core.WithRawResponse<GroundX.ApiKeyResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.GroundXEnvironment.Default,
                "v1/apikey",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as GroundX.ApiKeyResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.GroundXError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/apikey");
    }

    /**
     * Create a new API key.
     *
     * @param {GroundX.ApiKeyRequest} request
     * @param {ApiKeyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link GroundX.BadRequestError}
     *
     * @example
     *     await client.apiKey.create({
     *         name: "your_apikey_name"
     *     })
     */
    public create(
        request: GroundX.ApiKeyRequest,
        requestOptions?: ApiKeyClient.RequestOptions,
    ): core.HttpResponsePromise<GroundX.ApiKeyResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: GroundX.ApiKeyRequest,
        requestOptions?: ApiKeyClient.RequestOptions,
    ): Promise<core.WithRawResponse<GroundX.ApiKeyResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.GroundXEnvironment.Default,
                "v1/apikey",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as GroundX.ApiKeyResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new GroundX.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.GroundXError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/apikey");
    }

    /**
     * Rename an API key.
     *
     * @param {string} apiKey - The API key being updated.
     * @param {GroundX.ApiKeyRequest} request
     * @param {ApiKeyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.apiKey.update("apiKey", {
     *         name: "your_apikey_name"
     *     })
     */
    public update(
        apiKey: string,
        request: GroundX.ApiKeyRequest,
        requestOptions?: ApiKeyClient.RequestOptions,
    ): core.HttpResponsePromise<GroundX.ApiKeyResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(apiKey, request, requestOptions));
    }

    private async __update(
        apiKey: string,
        request: GroundX.ApiKeyRequest,
        requestOptions?: ApiKeyClient.RequestOptions,
    ): Promise<core.WithRawResponse<GroundX.ApiKeyResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.GroundXEnvironment.Default,
                `v1/apikey/${core.url.encodePathParam(apiKey)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as GroundX.ApiKeyResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.GroundXError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v1/apikey/{apiKey}");
    }

    /**
     * Delete an API key.
     *
     * @param {string} apiKey - The API key being deleted.
     * @param {ApiKeyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.apiKey.delete("apiKey")
     */
    public delete(
        apiKey: string,
        requestOptions?: ApiKeyClient.RequestOptions,
    ): core.HttpResponsePromise<GroundX.MessageResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(apiKey, requestOptions));
    }

    private async __delete(
        apiKey: string,
        requestOptions?: ApiKeyClient.RequestOptions,
    ): Promise<core.WithRawResponse<GroundX.MessageResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.GroundXEnvironment.Default,
                `v1/apikey/${core.url.encodePathParam(apiKey)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as GroundX.MessageResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.GroundXError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/apikey/{apiKey}");
    }
}
